* {
    margin: 0px;
    padding: 0px;
}

body {
    text-align: center;
    background-color: rgb(196, 214, 230);
}

h1 {
    margin-top: 1%;
    margin-bottom: 1%;    
}

h3 {
    margin-bottom: 1%;
}

img {
    border: 3px solid black;
}


